USE [master]
GO
/****** Object:  Database [Profiler]    Script Date: 15.08.19. 22:14:06 ******/
CREATE DATABASE [Profiler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Profiler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Profiler.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Profiler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Profiler_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Profiler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Profiler]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15.08.19. 22:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[LastName] [varchar](200) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Salt] [varchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DateJoined] [date] NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[Token] [varchar](200) NULL
) ON [PRIMARY]
GO
USE [master]
GO


INSERT INTO [dbo].[User] (Name, LastName, Email, Password, Salt, IsActive, DateJoined, Role, Token)
VALUES ('Admin', 'A', 'admin@mail.com','$2b$10$RQqgHZF4bS4KPpZP3Le6N.Xiz4wGhUBsCwOlCk0xoLUOQurNhxyZq','$2b$10$RQqgHZF4bS4KPpZP3Le6N.',1,GETUTCDATE(),'admin', 'token');
