
@{
    ViewData["Title"] = "User";
}

<main>
    <div id="container">
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <hr />
        <h2>User</h2>
        <p>
            @foreach (String item in Model)
            {

                @item
            }
        </p>
    </div>
</main>