<configuration>

  <system.web>
    <sessionState cookieName="UserLoginCookie" />
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <!--other configuration-->
</configuration>